.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: auto;
}
.register-container {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow-x: auto;
}

table {
   
    box-shadow: 0px 0px 10px #000000cb;
    border-collapse: separate;
    border-spacing: 0;
    border: 4px outset #0d1c35;
    border-radius: 0em;
    overflow-x: auto;
    display: block;
    font-size: 25px;

    
   
}



tbody thead{
    font-size: 20px;
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; /* Prevent wrapping */
}
tr {
    background-color: #013f7a;
}
tr:nth-child(even) {
    background-color: #1b2961;
}



td, th {
    border: 1px inset #1773f5;
    padding: 8px;
}

td {
    text-align: center;
}

.genres-td {
    width: auto;
    text-align: left;
}

.event_time {
    min-width: auto;
    white-space: nowrap;
}
.spacing {
    display: flex;
    flex-direction: column;
}

.color {
    color: #0b0743b5;
    background-color: #1c3275;
}
.tablehead {
    background-color: #10113e;
    font-size: 25px;
}