/* DjsList.css */

.table-container {
    margin: 20px; /* Adjust margin as per your layout */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  .avatar-column {
    width: 5%; 
  }
  .name-column{
    width: 10%;
  }
  .genres-column {
    width: 40%;
  }
  .events-column {
    width: 30%; 
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
