

.table-container {
    margin: 75px; 
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
  }

  th,
  td {
    padding: 8px;
    text-align: center;
   
  }
  
  
  .avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  
.genres-column {
    text-align: left;
}
.events-column  {
    
    width: auto;
}

.confirmed_events_dj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}