

.table-container {
    margin: 75px; 
    display: flex;
    justify-content: center;
  }
  
 

  th,
  td {
    padding: 8px;
    text-align: center;
   
  }
  
  
  .avatar {
    width: 75px;
    height: max-content;
    
  }
.avatar-column  {
  padding: 10px;
  min-width: 95px;
  min-height: auto;
}
.genres-column {
    text-align: left;
}
.events-column  {
    text-decoration: ;
    width: auto;
}

.confirmed_events_dj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}